.__contain_not_connected{
    background-image: url(/fond_transparent.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.__auth_btn{
    outline:"none";
    border:none;
    transition: all .2s;
}

.__auth_btn1{
    background: #8DF297;
}

.__auth_btn2{
    background: #A5EAD5;
}