#root{
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

#root .__sec_1{
    margin-top: 50px;
    background-image: url(https://cdn.futura-sciences.com/cdn-cgi/image/width=1520,quality=50,format=auto/sources/images/crypto/smart%20city.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.__contain_acceuil{
    background: linear-gradient(70deg,rgb(255, 255, 255) 37%,transparent);
}

.__btn_savoir_plus{
    outline: none;
    border:none;
    background: #41c5d1;
}

.__img_container{
    position: relative;
}

#__savoir_plus_link{
    text-decoration: none;
}

.__weather_container{
    background: rgba(0, 0, 0, 0.382);
}