._btn_signaler{
    outline: none;
    border:none;
}

._btn_signaler1{
    background: rgba(231, 64, 39, 0.689);
}

._btn_signaler2{
    background: rgba(132, 254, 232, 0.50);
}

.__contain_form_signaler{
    background-image: url(/fond1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.__form_signaler{
    background: #4e4e4e5c;
}