.__input_box{
    height: 50px;
    position: relative;
    background:linear-gradient(180deg, rgba(132, 254, 232, 0.50) 0%, rgba(110, 122, 32, 0.05) 93.75%, rgba(65, 202, 53, 0.00) 100%);;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.__label{
    position:absolute;top: 20%;left: 5px;
    background: transparent;
    font-size: 1em;
    transition: all .1s;
    cursor: text;
    font-weight: bold;
}

.__input_text{
    position:absolute;top: 0;left: 5px;
    background: transparent;
    width: 100%;
    height: 100%;
    outline: none;
    border:none;
    z-index: 999;
}

.__input_text:focus + .__label,
.__input_text:valid + .__label{
    font-size: .7em;
    top: 0;
    color: #9da7aa;
}

.__sign_up_btn{
    outline: none;
}

.__sign_up_btn1{
    background:rgba(231, 64, 39, 0.689)
}

.__sign_up_btn2{
    background:rgba(132, 254, 232, 0.50);
}

.__button_box{
    
}