.__sec_1{
    position:relative;
    margin-top: 50px;
    height: calc(100vh-50px);
    overflow: hidden;
    background-image: url(/fond1.png);
}


._type_container{
    overflow: auto;
    height: 50%;
    background-color: #a0a0a086;
}


.__info__{
    cursor: pointer;
    
}