.__sec_1{
    position:relative;
    margin-top: 50px;
    height: calc(100vh-50px);
    overflow: hidden;
    background-image: url(/fond1.png);
}

.__input_search_box{
    cursor: text;
    overflow: hidden;
    position: relative;
}

.__input_search,
.__input_search:active,
.__input_search:focus{
    border:none;
    height: 100%;
    width: 90%;
    margin: 0;
    outline: none;
}

.__btn_search{
    width: 55px;height: 55px;
    z-index: 999;
    border-radius: 50%;
    outline: none;
    font-size: 1.3em;
    background: #26135b;
    color: white;
    border:none;
}

._type_container{
    overflow-x:hidden;
    overflow-y: auto;
    height: 50%;
    background-color: #a0a0a086;
}


.__info__{
    cursor: pointer;
    
}

.__sous_titre{
    color: rgb(26, 74, 78);
}

.__sous_sous_titre{
    border-bottom: 1px solid gray;
}