.__signal_liste,
.__dommaine_liste{
    list-style: none;
    position: relative;
}

.__dommaine_liste li{
    display: inline;
    cursor: pointer;
    margin-right: 20px;
}

.__signal_liste{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background:rgba(128, 128, 128, 0.35);
}

.__signal_liste li{
    display: inline-block;
    width: 400px;
    height: 80%;
    cursor: pointer;
    background: white;
}

.__signal_liste li:hover{

}

.__add__signalement{
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 99999;
    border-radius: 50%;
    outline: none;
    border:none;
    width:  50px;
    height: 50px;
    font-weight: bold;
    font-size: 1em;
}

.__sec_1{
    background-image: url(/fond1.png);
}

.__btn_vrai_faux{
    outline: none;
    border:none;
}

.__btn_vrai{
    background: rgba(132, 254, 232, 0.50);
}

.__btn_faux{
    background: rgba(231, 64, 39, 0.689);
}
