#__modal__container{
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #73737360;
}
#__modal__{
  border: 1px solid;
  background-color: #fff;
  position: relative;
  height: 80vh;
}
#__modal_header{
  height: 45px;
  padding: 0;
  /* border-bottom: 1px solid #7e7e7e; */
}
#__modal_footer{
  border-top: 1px solid #7e7e7e;
  user-select: none;
}
#__modal_content{
  text-wrap: wrap;
  height: 150%;
  position: relative;
}
#__btns__{
  outline: none;
  border: 1px solid;
  cursor: pointer;
  user-select: none;
}
#__btns__:first-child{
  background-color: #F19595;
}
#__btns__:last-child{
  background-color: #0F9EAB;
}
#__close_btn_{
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: 1.5em;
  cursor: pointer;
}
