nav{
    height: 50px;
    position: fixed;
    background: #fff;
    z-index: 9999;
}

nav ul{
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li {
    cursor: pointer;
    display: inline;
    margin-left: 20px;
}

nav .logo{
    width: 50px;
    margin: 0;
    
}

a{
    text-decoration: none;
}