.__btn_vrai_faux{
    outline: none;
    border:none;
}

.__profil__img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.__dropdown__{
    position: absolute;
    left: 0;
    list-style: none;
}
.__dropdown__ li{
    display: inline-block;
}