
.__input_search_box{
    cursor: text;
    overflow: hidden;
    position: relative;
}

.__input_search,
.__input_search:active,
.__input_search:focus{
    border:none;
    height: 100%;
    width: 90%;
    margin: 0;
    outline: none;
}

.__btn_search{
    width: 55px;height: 55px;
    z-index: 999;
    border-radius: 50%;
    outline: none;
    font-size: 1.3em;
    background: #26135b;
    color: white;
    border:none;
}